.work-section{
    padding: 2rem 15%;
}

.work-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.work-title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.work-card{
    height: auto;
    /* width: 22rem; */
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 2rem;
}

.work-card .imgs{
    width: 100%;
    height: 12rem;
    background: var(--img-bg);
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 1rem;
}

.work-card .imgs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.work-card .title{
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
}

.work-card .body{
    font-size: 1.1rem;
    color: var(--textcolor);
    line-height: 1.4;
}

.type-container{
    display: flex;
    margin-top: 1rem;
    gap: .5rem;
    flex-wrap: wrap;
}

.work-card .type{
    padding: .6rem .8rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
}

.work-card .ctoo{
    margin-bottom: 1rem;
    margin-top: 2rem;
  display: flex;
}

.work-card .ctoo .a{
    text-decoration: none;
    padding: .9rem 1rem;
    background: var(--black);
    color: var(--white);
    border-radius: 1rem;
    font-size: .9rem;
    cursor: pointer;
}

.work-card .ctoo .git{
  text-decoration: none;
  margin-left: .4rem;
  color: var(--black);
}

@media (max-width: 991px) {
  .work-section {
    padding: 2rem 10%;
  }

  
}
@media (max-width: 750px) {
  .work-section{
    padding: 2rem 7%;
  }


  
}
@media (max-width: 550px) {
  .work-section{
    padding: 2rem 6%;
  }


}