*{
    font-family: "Inter", sans-serif;
}


.logo p{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Bebas Neue", sans-serif;
}

.section{
    padding: 0rem 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem var(--shadow);
    background: var(--background);
}

.nav-links{
    display: flex;
    margin: 0;
}

.desktopnav{
    display: flex;
}

.nav-links li a{
    text-decoration: none;
    color: var(--black);
}

.nav-links li a:hover{
    text-decoration: none;
    color: var(--btn-hover)
}

li{
    list-style: none;
    margin-left: 2rem;
}

.cto a{
    margin-left: .5rem;
    text-decoration: none;
    padding: .9rem 1rem;
    background: var(--black);
    color: var(--white);
    border-radius: 1rem;
    font-size: .9rem;
    cursor: pointer;
}

.burger {
  height: 2rem;
  width: 2rem;
  display: none;
  margin-top: -.4rem;
  cursor: pointer;
}

.burger div {
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem;
  background: var(--main-background);
  border-radius: 1rem;
}


/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 90%;
  }

  .section{
    padding: 0rem 10%;
  }

}

@media (max-width: 750px) {
    .nav-links{
        position: absolute;
        top: -105rem;
        left: 0;
        background: #fff;
        height: 100%;
        width: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0rem;
        margin-left: -2.5rem;
    }

    .nav-links li{
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
    

    .navbar{
        margin-top: 5rem;
    }

    .nav-cto{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cto a{
        padding: 1.2rem;
        font-size: 1.5rem;
    }
    
    .cto{
        position: absolute;
        top: -123rem;
        z-index: 20;
        /* margin-left: 2rem; */
    }
    
    .burger{
        display: block;
    }

    /* display navs */
    .display-nav{
    top: 5rem;
    left: 0;
    transition: .7s linear;  
    }

    .display-cto{
        top: 31rem;
        transition: .7s linear;  
    }

    .section{
    padding: 0rem 7%;
  }
}

@media (max-width: 550px){
    body{
        overflow-x: hidden;
    }

}