 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  color: #333;
  max-width: 1280px;
  margin: auto;
  scroll-behavior: smooth;
}

*{
    font-family: "Inter";
}

:root {
    --shadow: rgba(0, 0, 0, 0.021);
    --btn-hover: hsl(0, 0%, 30%);
    --white: white;
    --main-background: #181818;
    --textcolor: hsl(0, 0%, 25%);
    --available: hsl(133, 54%, 91%);
    --available-text: hsl(153, 100%, 33%);
    --heading: #121212;
    --black: black;
    --outline-hover: rgba(0, 0, 0, 0.134);
    --border: #ccc;
    --img-bg: #d6d6d6;
    --footer-bg: rgba(0, 0, 0, 0.9);
    --card-bg: hsl(0, 0%, 95%);
    --sub-title: hsl(0, 0%, 45%);
    --btn-hover: #3d3d3d;
    --work: #181818;
    background: #fff;
}

[data-theme="dark"] {
    --black: #ffffff;
    --white: black;
    background: hsl(0, 0%, 15%);
    --shadow: rgba(0, 0, 0, 0.021);
    --btn-hover: hsl(0, 0%, 100%);
    --textcolor: hsl(0, 0%, 100%);
    --available: hsl(133, 54%, 91%);
    --available-text: hsl(153, 100%, 33%);
    --heading: #ffffff;
    --outline-hover: rgba(0, 0, 0, 0.134);
    --border: #ffffff;
    --img-bg: #3c3c3c;
    --footer-bg: rgba(255, 255, 255, 0.929);
    --card-bg: hsl(0, 0%, 38%);
    --sub-title: hsl(0, 0%, 45%);
    --btn-hover: #3d3d3d;
    --work: #ffffff;
}


@media (max-width: 750px) {
    html{
        font-size: 90%;
    }
}

@media (max-width: 550px) {
    html{
        font-size: 85%;
    }
}